@import "bootstrap/scss/mixins/breakpoints";
@import "src/styles/variables";

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 36px;
}

.modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 100;
    transition: transform linear 0.05s;

    &.active {
        z-index: 0;
        transform: scale(1);
        .modal-background {
            background-color: rgba($color: #000000, $alpha: 0.25);
            .modal {
                animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            }
        }
        + .content {
            z-index: 1;
            animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
    }

    .modal-background {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        position: relative;

        .modal {
            background: var(transparent);
            padding: 50px;
            display: inline-block;
            border-radius: 3px;
            font-weight: 300;
            position: relative;
            h2 {
                font-size: 25px;
                line-height: 25px;
                margin-bottom: 15px;
            }
            p {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

.loader {
    position: relative;
}

.loader > span {
    border: 4px solid transparent;
    border-top-color: var(--primary-color);
    border-right-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader > span:nth-child(1) {
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    animation: spin 2s linear infinite;
}

.loader > span:nth-child(2) {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    animation: spin 1.75s linear reverse infinite;
}

.loader > span:nth-child(3) {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    animation: spin 1.5s linear infinite;
}

.loader > span:nth-child(4) {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    animation: spin 1.25s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    height: 100vh;
    overflow: hidden;
    --stripe-size: 100px;
    --color1: var(--primary-color);
    --color2: #313131;
    --duration: 2s;

    .stripe {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;

        &_inner {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 15vw;
            font-weight: 900;
            text-align: center;
            font-family: "Anton", sans-serif;
            color: rgba(#fff, 0);
            background: repeating-linear-gradient(
                45deg,
                var(--color1) 25%,
                var(--color1) 50%,
                var(--color2) 50%,
                var(--color2) 75%
            );
            background-size: var(--stripe-size) var(--stripe-size);
            background-clip: text;
            animation: stripeBackgroundPosition var(--duration) linear infinite;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% + var(--stripe-size));
            height: 100%;
            background: repeating-linear-gradient(
                45deg,
                var(--color2) 25%,
                var(--color2) 50%,
                var(--color1) 50%,
                var(--color1) 75%
            );
            background-size: var(--stripe-size) var(--stripe-size);
            animation: stripeTransform var(--duration) linear infinite;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center, rgba(#1b2735, 0) 0%, #090a0f 100%);
        }
    }

    @keyframes stripeTransform {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(var(--stripe-size) * -1));
        }
    }

    @keyframes stripeBackgroundPosition {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: calc(var(--stripe-size) * -1) 0;
        }
    }
}

@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    99.9% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(0);
    }
}

@keyframes blowUpModal {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary-gradient);
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-image {
    width: 100%;
    max-width: 320px;
}

.result-point {
    font-size: var(--text-h1);
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}

.result-status {
    font-size: var(--text-h2);
    font-weight: 600;
    display: inline-block;
}

.close-btn {
    position: absolute;
    top: 20px;
    font-size: 30px;
    right: 0;
    padding: 0;
    min-width: auto;
}

.congrats {
    text-align: center;
    margin: 0 auto;
    display: block;

    p {
        font-size: var(--text-h3) !important;
    }

    h1 {
        // transform-origin: 50% 50%;
        font-family: "Sigmar One", cursive;
        cursor: pointer;
        z-index: 2;
        font-size: 6vw;
        // position: absolute;
        // top: 0;
        text-align: center;
        width: 100%;
    }
}
