.container {
    position: relative;
    width: 100%;
    height: calc(100vh - 74px);
    overflow: hidden;
    margin-top: -36px;

    .background {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .join-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        background-color: rgba($color: #000000, $alpha: 0.7);
        box-shadow: var(--primary-box-shadow);
        border-radius: 2px;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-wrapper {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            input {
                max-width: 60vw;
                background-color: var(--overlay-6th-color);
                color: var(--primary-color);
                font-weight: 700;
                text-align: center;
                font-size: 24px;
                border-radius: 2px;
                box-shadow: var(--primary-box-shadow);
                border: 1px solid transparent;
                transition: all linear 0.1s;
                padding: 4px 8px;

                & + input {
                    margin-top: 16px;
                }

                &:focus {
                    border-color: var(--primary-color);
                    box-shadow: 0px 0px 8px rgba(0, 255, 255, 0.5);
                }
            }
        }
    }
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-100vh) scale(1);
    }
}

.red {
    fill: none;
    // opacity: 1;
    stroke: var(--secondary-color);
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.blue {
    fill: none;
    // opacity: 1;
    stroke: var(--primary-color);
    stroke-width: 12;
    stroke-miterlimit: 10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.light-blue {
    fill: none;
    opacity: 0.5;
    stroke: var(--primary-color);
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.15;
    }
}
